.ideaheader {
    width: 100%;



}

.god {
    padding-inline-end: 1rem;
}

.ideaheader .header__wallet {
    justify-self: end
}

@media screen and (max-width: 1280px) {
    .ideaheader .header__wallet {
        justify-self: center
    }
}